/* * {
color: rgb(0, 0, 0);
} */
/* NAVBAR */
.navbar-nav {
color: darkblue;
}

.nav-item {
color: black;
}

.navbar-toggler {
color: #000;
padding: .25rem .75rem;
font-size: 8px;
font-weight: 300;
-webkit-text-stroke: 1px white;
transform: translate(4px, -5px);
line-height: 1;
background-color: transparent;
border: 1px solid transparent;
border-radius: .25rem;
padding-right: 2rem;
}

.nav-link {
color: #000;
background-color: rgb(255, 255, 255);
font-size: 1rem;
    /* padding-left: 1.5rem; */
padding-right: 2rem;
}

ul li {
 padding-right: 25px;
 padding-left: 25px;
}

li a {
    color: white;
    text-decoration: none;
}

.btn {
color: rgb(250, 248, 240);
font-weight: 600;
border-radius: 8px;
background-color: rgb(121, 192, 66);
height: 28px;
text-align: center;
vertical-align: middle;
line-height: 12px;
margin-right: 1.6rem;
margin-top: 6px;
text-shadow: 1px 1px 2px #9ca380;
box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
}

.logo-style {
width: 3rem;
height: 4.5rem;
}

.logo-size {
width:270px; 
height:auto;
transform: translate(0px, -7px);
padding-left: 1px;
}

/* Hero Wrapper */

.top-wrapper {
position: relative;
background-size: cover; 
background-repeat: repeat; 
background-color: rgba(0, 0, 0, 0); 
background-image: url(/static/assets/images/banner3.jpg);
width: 100%;
height: 36rem;
}

.top-wrapper-policy {
    position: relative;
    background-size: cover; 
    background-repeat: repeat; 
    background-color: rgba(0, 0, 0, 0); 
    background-image: url(/static/assets/images/policyhero3.png);
    width: 100%;
    height: 36rem;
    transform: translate( 0px, 0px);
    }



/* CONTAINER 1 */

.flexbox-container {
display: flex;
justify-content: space-around;
    /* justify-content: center; */
align-items: flex-start;
    /* flex-wrap: wrap; *FOR MEDIA QURIE*/
    /* align-content: space-between; *AS ABOVE*/
}

.flexbox-item {

width: 700px;
height: 400px;
margin: 10px;
/* border: 3px solid #333; */
background-color: rgb(145, 128, 160);
text-align: center;
color: rgb(255, 255, 255);
font-size: 3rem;
padding-top: 2rem;
}

.flexbox-item-1{
min-width: 200px;
background-color: rgb(0, 84, 153);
}

.flexbox-item-2{
min-width: 200px;
background-color: rgb(0, 153, 204);
}

.flexbox-item-3{
    min-width: 200px;
    background-color: rgb(238, 113, 42);
}


.icon {

    font-size: 5rem;
    color: aliceblue;
}


.fb-paragraph {

    font-size: 20px;
    color: white;
    padding: 1rem;
    text-align: center;
}



/* GOALS SECTION */

.goals-title {
    font-size: 3rem;
    text-align: center;
    color: rgb(3, 62, 110);
    font-weight: 500;
    padding-top: 1rem;
}


.goals-flexbox {

display: flex;
justify-content: space-evenly;
align-items: flex-start;
gap: 1px;
}

.goals-flexbox .column {

width: 17%;
height: 500px;
margin: 1rem;
/* border: 3px solid #333; */
background-color: rgb(153, 190, 233);
text-align: center;
color: rgb(5, 3, 3);
font-size: 3rem;
padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;
}



.goal-icon {
width: 8rem;
height: 8rem;
}

.goal-title{

    font-size: 1.75rem;
    font-weight: 500;
    color: rgb(3, 62, 110);
    text-decoration: underline;
}

.goal-paragraph {
    padding-top: 2rem;
    color: #fff;
    font-size: 1rem;
}




/* Our People Page */

.peoples-title {
    font-size: 3rem;
    text-align: center;
    color: rgb(3, 62, 110);
    font-weight: 500;
    padding-top: 1rem;

}



.people-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(3, 62, 110);
}


.people-flexbox {

display: flex;
justify-content: center;
align-items: flex-start;
gap: 1px;
}

.people-flexbox .column {

width: 20%;
height: 440px;
margin: 1rem;
/* border: 3px solid #333; */
background-color: rgb(202, 202, 202);
text-align: center;
color: rgb(5, 3, 3);
font-size: 3rem;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}


.people-img {
width: 8rem;
height: 8rem;
}


.people-paragraph {
    padding-top: 5px;
    color: rgb(88, 88, 88);
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.people-section-title {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(3, 62, 110);
    font-weight: 500;
    padding-top: 1rem;
    text-decoration: underline;
}


/* Our Donors and Supporters */

.donor-section-title {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(3, 62, 110);
    font-weight: 500;
    padding-top: 1rem;
    text-decoration: underline;
}


.donor-flexbox .column {

    width: 15%;
    height: 275px;
    margin: 1rem;
    /* background-color: rgb(112, 20, 20); */
    text-align: center;
    color: rgb(5, 3, 3);
    font-size: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    

    .donor-flexbox {

        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1px;
        }


.alladin-edit {

    width: 250px;
    height: 250px;
}



/* Policy Page */

.policies-title {
    font-size: 3rem;
    text-align: center;
    color: rgb(3, 62, 110);
    font-weight: 500;
    padding-top: 1rem;
}

.policy-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(56, 56, 56);
}

.policy-flexbox {

display: flex;
justify-content: center;
align-items: flex-start;
gap: 1px;
}

.policy-img {
    padding-top: 15px;
    width: 60%;
    }

.policy-flexbox .column {

width: 20%;
height: 440px;
margin: 1rem;
/* border: 3px solid #333; */
background-color: rgb(247, 178, 139);
text-align: center;
color: rgb(5, 3, 3);
font-size: 3rem;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}



/* Footer */
.footer-text {
text-align: center;
padding-bottom: 2rem;
padding-top: 2rem;
color: rgb(15, 15, 43);
font-size: 14px;
}

.footer-nums {
    font-size: 16px;
    padding-bottom: 1rem;
}






/* MEDIA QURIES */



@media only screen and (max-width: 1200px) {
  body {
    background-color: rgb(110, 165, 133);
  }
  .flexbox-container {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
   
}

.flexbox-item {

width: 700px;
height: 200px;
margin: 10px;
border: 3px solid #333;
background-color: rgb(131, 219, 95);
text-align: center;
color: rgb(27, 76, 85);
font-size: 2rem;
}


}

@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }

.nav-link {
    color: #000;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    /* padding-left: 1.5rem; */
    padding-right: 2rem;
}


}



@media only screen and (max-width: 770px) {
  body {
    background-color: rgb(212, 153, 104);
  }
  .flexbox-container {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: wrap;
}

.flexbox-item {

width: 700px;
height: 200px;
margin: 10px;
border: 3px solid #333;
background-color: rgb(131, 219, 95);
text-align: center;
color: rgb(27, 76, 85);
font-size: 2rem;
}


}